.formcontent{
   
   border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(6, 14, 17, 0.12) 0px 2px 4px 0px, rgba(8, 24, 31, 0.32) 0px 2px 16px 0px;
   
}

input{
    width:100%;
    border: none;
    border-color: aliceblue;
    border-radius: 10px;
    outline: none;
    padding-top: 8px;
    padding-left: 15px;
    font-weight: bold;
}

.textfield{
    position: relative;
   

}

textarea{
    border: none;
   width: 100%;
    border-radius: 10px ;
    padding-left: 10px;
    padding-top: 8px;
   outline:none;
    
}


.submitbutton{
    position: absolute;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-top: 40px;
  margin-left: -25px;
  outline: none;
  border: none;
  box-shadow: rgba(6, 14, 17, 0.12) 0px 2px 4px 0px, rgba(8, 24, 31, 0.32) 0px 2px 16px 0px;
   
   
}
.sidebar{
    margin-top: 20px;
}
.empty-img{
    height: 400px;
    width: 480px;
}