name: Deploy Frontend

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/google-keep-frontend:latest
          build-args: |
            REACT_APP_BASE_URL=${{ secrets.REACT_APP_BASE_URL }}

  deploy:
    runs-on: self-hosted
    needs: build
    steps:
      - name: Deploy latest frontend
        run: |
          docker network create mern-net || true

          docker rm -f google-keep-frontend || true
          docker rmi ${{ secrets.DOCKER_USERNAME }}/google-keep-frontend:latest || true

          docker pull ${{ secrets.DOCKER_USERNAME }}/google-keep-frontend:latest
          
          docker run -d --restart always --name google-keep-frontend \
            --network mern-net \
            -p 80:80 \
            ${{ secrets.DOCKER_USERNAME }}/google-keep-frontend:latest
