name: Deploy frontend

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/google-keep-frontend:latest

  deploy:
    runs-on: self-hosted
    needs: build
    steps:
      - name: Deploy to EC2 
        run: |
          docker pull ${{ secrets.DOCKER_USERNAME }}/google-keep-frontend:latest
          docker stop google-keep-frontend || true
          docker rm google-keep-frontend || true
          docker run -d --name google-keep-frontend \
            -p 80:3000 \
            -e REACT_APP_BASE_URL=${{ secrets.REACT_APP_BASE_URL }} \
            ${{ secrets.DOCKER_USERNAME }}/google-keep-frontend:latest
